API_PORT=3000
VITE_API_URL=http://localhost:3000

# For MongoDB (optional - only needed if using authentication)
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

# MongoDB connection string (Docker will override this in docker-compose)
MONGO_URI=mongodb://localhost:27017/PokemonUsers
ME_CONFIG_BASICAUTH_ENABLED=true
ME_CONFIG_BASICAUTH_USERNAME=
ME_CONFIG_BASICAUTH_PASSWORD=